{% extends "admin_base.html" %}

{% block title %}{{ entity.title }}{% endblock %}

{% block admin_content %}
<div class="content-header">
    <h1>{{ entity.title }}</h1>
    <a href="/admin/{{ entity.name }}/add" class="add-button">
        <i class="fas fa-plus"></i> Добавить
    </a>
</div>

<div class="data-table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                {% for column in entity.columns %}
                <th>{{ column.label }}</th>
                {% endfor %}
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity.items %}
            <tr>
                {% for column in entity.columns}
                <td>{{ item[column.name] }}</td>
                {% endfor %}
                <td>
                    <a href="/admin/{{ entity.name }}/{{ item.id }}/detail" class="button view-button">Просмотр</a>
                    <a href="/admin/{{ entity.name }}/{{ item.id }}/edit" class="button edit-button">Редактировать</a>
                    <a href="/admin/{{ entity.name }}/{{ item.id }}/delate" class="button delete-button" onclick="return confirm('Вы уверены?');">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}