{% extends "base.html" %}

{% block title %}Управление{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/admin_list_styles.css">
{% endblock %}

{% block content %}
<div class="main-content">
    <nav class="side-menu">
        {% for entity in meta %}
        <a href="{{ entity.url }}"
            class="menu-item{% if '/admin/' + entity.name in request.url.path %} active{% endif %}">
        {{ entity.label }}
        </a>
        {% endfor %}
    </nav>
    {% block admin_content %}{% endblock %}
</div>
{% endblock %}
